span { padding: 5px; }
.inline-kids > .act, .inline { display: inline-block; }
.act {
    padding-left: 5px;
    border: 1px solid black;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 10px;
}
